html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

nav {
  display: flex;
}

img {
  width: 100px;
}

div {
  padding: 1.5rem;
  border-left: 1px solid #333;
  font-size: .875rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-1 {
  background-color: #e2e2e2;
  margin: 0 auto 1.5rem;
}

.btn-2 {
  background-color: #ccc;
  margin: 0 auto 1.5rem;
}

.btn-3 {
  background-color: #aaa;
  margin: 0 auto 1.5rem;
}

.btn-4 {
  background-color: #999;
  margin: 0 auto 1.5rem;
}

.btn-small {
  padding: .875rem;
  margin: 0 0 1.5rem;
  background-color: #333;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn-small:hover {
  background-color: #000;
}
